{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <p>
        Damit ist diese Studie abgeschlossen. Vielen Dank für Ihre Teilnahme! Wir berechnen und überweisen Ihnen Ihre
        Auszahlung voraussichtlich innerhalb der nächsten 14 Tage.<br><br>
        Ziel dieser Studie ist es soziale Präferenzmodelle aus der Sozialpsychologie und der Verhaltensökonomie zu
        vergleichen. Um diese Frage zusätzlich in Abhängigkeit unterschiedlicher Persönlichkeitseigenschaften zu
        untersuchen, verknüpfen wir Ihr Antwortverhalten in dem soeben durchgeführten Spiel mit Ihren grundlegenden
        Persönlichkeitseigenschaften (z.B. sozialen Präferenzen aus der „Grunderhebung”, der allerersten Online-Studie
        nach Ihrer Registrierung im Decision Lab Cologne). <br><br>
        Wir bitten Sie, diese Details unseres Forschungsprojekts innerhalb der nächsten vier Wochen nicht weiter zu
        kommunizieren, da wir sonst mit verfälschten Studienergebnissen rechnen müssen!<br><br>
        Wenn Sie Interesse an den Ergebnissen der Studie haben oder weitere Fragen haben, können Sie uns gerne unter
        <a href="mailto:leon.bartosch@uni-koeln.de" target="_blank">leon.bartosch@uni-koeln.de</a> kontaktieren!<br><br>
        Vielen Dank für Ihre Unterstützung unserer Forschung!<br><br>
        <hr>
    </p>

    {% formfield 'comments' label="Wenn Sie uns Feedback geben möchten oder Kommentare zu dieser Studie haben, melden Sie uns diese gerne im Folgenden zurück:" %}

    <br>

    {% next_button %}

{% endblock %}


