{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <p>
        Außerdem bitten wir Sie, anzugeben, inwiefern folgende Gründe für Ihr Entscheidungsverhalten relevant waren.
        <br><br>
        Bitte wählen Sie zutreffendes aus (1 = Stimme überhaupt nicht zu, 7 = Stimme voll und ganz zu).
    </p>

    <table class="table">
        <tr style="text-align:center">
            <td></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td>
        </tr>
        {{ for field in form }}
            <tr>
                <th>{{ field.label }}</th>
                {{ for choice in field }}
                    <td style="text-align:center;width:80px">{{ choice }}</td>
                {{ endfor }}
            </tr>
        {{ endfor }}
    </table>

    <br>

    {% next_button %}

    <br>
    <p>
        Zur Erinnerung – Teil A der Studie: <br><br>
        <img src="{{ static 'doc/TeilA.jpg' }}" width="350px"/><br><br>
        Teil B der Studie: <br><br>
        <img src="{{ static 'doc/TeilB.jpg' }}" width="350px"/>
    </p>

{% endblock %}


