{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>

        /* Create three equal columns that floats next to each other */
        .column {
          float: left;
          width: 33.33%;
          padding: 15px;
        }

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width:600px) {
          .column {
            width: 100%;
          }
        }

    </style>

<body>

    <p>
        Nun folgt Teil <b>B</b> der Entscheidungssituation.<br><br>
        Im Folgenden sehen Sie alle rechnerisch möglichen Durchschnittswerte Ihrer Gruppenmitglieder in 10er
        Cent-Schritten. Bitte geben Sie die Höhe des Betrags an (in geraden Cent-Schritten - 0, 2, 4, 6, ... bis 200
        Cent), den Sie für den jeweiligen <b>durchschnittlichen Beitrag</b> Ihrer Mitspieler beisteuern wollen. D.h. Sie
        geben an, wie viel Sie beitragen möchten, wenn Ihre Gruppenmitglieder durchschnittlich 0, 10, 20, … 200 Cent
        beitragen.<br><br>

        Nachdem alle Gruppenmitglieder ihre Entscheidung getroffen haben, wird eine Person in der Gruppe zufällig
        ausgewählt und der Durchschnitt der Beiträge ihrer Gruppenmitglieder berechnet. Für die ausgewählte Person
        wird das angegebene Beitragsverhalten zu dem errechneten, gerundeten Durchschnittswert auszahlungsrelevant.
        Die Wahrscheinlichkeit, dass dieser Teil der Aufgabe ausgezahlt wird, beträgt 1:4. Das heißt, wenn Sie ausgewählt
        werden und Ihre Gruppenmitglieder durchschnittlich 80 Cent beigetragen haben, wird der Betrag für Sie
        auszahlungsrelevant, den Sie in das Feld „80 Cent” eingegeben haben.<br><br>

        Bitte geben Sie den Betrag an, den Sie beitragen möchten, wenn Ihre Gruppenmitglieder
        durchschnittlich den darüberstehenden Betrag beisteuern.<br>
    </p>


    <div class="w3-container">
        <p align="right">
            <button type="button" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black"><b>Info</b></button>
        </p>

        <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
                <header class="w3-container w3-black">
                <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
                <h2>Info</h2>
                </header>
                <div style="margin-top: 15px;" class="w3-container">
                    <p>
                        Stellen Sie sich vor, Sie wüssten, dass Ihre Gruppenmitglieder durchschnittlich 80 Cent beitragen. Wie viel
                        würden Sie dann beitragen? Dies tragen Sie in das Feld „80 Cent”.
                        <img src="{{ static 'doc/StrategyMethod.jpg' }}" width="500px"/>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            {{ formfield 'cond_coop_0' }}
            {{ formfield 'cond_coop_10' }}
            {{ formfield 'cond_coop_20' }}
            {{ formfield 'cond_coop_30' }}
            {{ formfield 'cond_coop_40' }}
            {{ formfield 'cond_coop_50' }}
            {{ formfield 'cond_coop_60' }}
        </div>
        <div class="column">
            {{ formfield 'cond_coop_70' }}
            {{ formfield 'cond_coop_80' }}
            {{ formfield 'cond_coop_90' }}
            {{ formfield 'cond_coop_100' }}
            {{ formfield 'cond_coop_110' }}
            {{ formfield 'cond_coop_120' }}
            {{ formfield 'cond_coop_130' }}
        </div>
        <div class="column">
            {{ formfield 'cond_coop_140' }}
            {{ formfield 'cond_coop_150' }}
            {{ formfield 'cond_coop_160' }}
            {{ formfield 'cond_coop_170' }}
            {{ formfield 'cond_coop_180' }}
            {{ formfield 'cond_coop_190' }}
            {{ formfield 'cond_coop_200' }}
        </div>
    </div>

    <br>

    {% next_button %}

</body>
</html>

{% endblock %}
