{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <p>
        Wir interessieren uns für die zugrundeliegenden Motive in strategischen Entscheidungssituationen. Deshalb möchten
        wir Sie bitten, in mindestens zwei vollständigen Sätzen, zu begründen, wie Sie sich in der eben gezeigten Situation
        verhalten haben und inwiefern Ihre Beiträge mit den (hypothetischen) Beiträgen Ihrer Gruppenmitglieder zusammenhängt.
    </p>

    {% formfield 'reasons' label="Bitte erläutern Sie ihr Beitragsverhalten im zweiten Teil der Entscheidungssituation." %}

    <br>

    {% next_button %}

{% endblock %}


