{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
    <p>
        Liebe Teilnehmerin, lieber Teilnehmer! <br><br><br>
        Vielen Dank, dass Sie unser Forschungsprojekt „Situatives Entscheidungsverhalten“ unterstützen!<br><br>
        Insgesamt wird diese Studie ca. 20 Minuten dauern. Sie erhalten durchschnittlich zwischen 2 Euro und 6 Euro
        (durchschnittlich 4 Euro) für Ihre Teilnahme. Bitte lesen Sie sich die Instruktionen genau durch.<br><br>
        Im Folgenden informieren wir Sie zunächst über das Ziel der Studie und datenschutz-rechtliche Details. <br><br>
        Vielen Dank!<br><br><br>
        Das Forscherteam<br><br>
        Léon Bartosch, Dr. Dorothee Mischkowski, Prof. Dr. Andreas Glöckner & Prof. DDr. Peter Lewisch<br><br>
    </p>

    {% next_button %}

{% endblock %}
